/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.header-pane {
	-fx-background-color : #f4e7e7;
}

.button {
	-fx-font-family: supermarket;
	-fx-font-size: 14px;
}

.table {
	-fx-font-family: supermarket;
	-fx-font-size: 14px;
}

.label {
	-fx-font-family: supermarket;
	-fx-font-size: 20px;
}

.radio-button {
	-fx-font-family: supermarket;
	-fx-font-size: 20px;
}
